h1{
    color:white
}

p{
    max-width: 100%;
    max-height: 100%;
}

info{
    padding-top: 4.4vw;
    margin: 0.075vw;
}

.link-artex{
    font-size: 1vw;
}

.bginfo{
    background-size: 28%;
}

.boxes {
    display: flex;
    align-items: flex-start;
}

.itismain {
    display        : inline-block;
    color          : white;            /* 文字の色 */
    font-size      : 2.7vw;               /* 文字のサイズ */
    letter-spacing : 0.3vw;                /* 文字間 */
    font-family: sans-serif;
    text-shadow    : 
         0.15vw  0.15vw 0.075vw #000000,
        -0.15vw  0.15vw 0.075vw #000000,
         0.15vw -0.15vw 0.075vw #000000,
        -0.15vw -0.15vw 0.075vw #000000,
         0.15vw  0vw 0.075vw #000000,
         0vw  0.15vw 0.075vw #000000,
        -0.15vw  0vw 0.075vw #000000,
         0px -0.15vw 0.075vw #000000;        /* 文字の影 */
}

.maintext {
    display        : inline-block;
    color          : gainsboro;            /* 文字の色 */
    font-size      : 1.8vw;               /* 文字のサイズ */
    letter-spacing : 0.3vw;                /* 文字間 */
    font-family: sans-serif;
    text-shadow    : 
         0.15vw  0.15vw 0.075vw #000000,
        -0.15vw  0.15vw 0.075vw #000000,
         0.15vw -0.15vw 0.075vw #000000,
        -0.15vw -0.15vw 0.075vw #000000,
         0.15vw  0px 0.075vw #000000,
         0px  0.15vw 0.075vw #000000,
        -0.15vw  0px 0.075vw #000000,
         0px -0.15vw 0.075vw #000000;        /* 文字の影 */
}