h1{
    color:white
}

p{
    max-width: 100%;
    max-height: 100%;
}

info{
    padding-top: 60px;
    margin: 10px;
}

.link-artex{
    font-size: 14px;
}

.bginfo{
    background-size: 28%;
}

.boxes {
    display: flex;
    align-items: flex-start;
}

.itismain {
    display        : inline-block;
    color          : white;            /* 文字の色 */
    font-size      : 28pt;               /* 文字のサイズ */
    letter-spacing : 4px;                /* 文字間 */
    font-family: sans-serif;
    text-shadow    : 
         2px  2px 1px #000000,
        -2px  2px 1px #000000,
         2px -2px 1px #000000,
        -2px -2px 1px #000000,
         2px  0px 1px #000000,
         0px  2px 1px #000000,
        -2px  0px 1px #000000,
         0px -2px 1px #000000;        /* 文字の影 */
}

.maintext {
    display        : inline-block;
    color          : gainsboro;            /* 文字の色 */
    font-size      : 18pt;               /* 文字のサイズ */
    letter-spacing : 4px;                /* 文字間 */
    font-family: sans-serif;
    text-shadow    : 
         2px  2px 1px #000000,
        -2px  2px 1px #000000,
         2px -2px 1px #000000,
        -2px -2px 1px #000000,
         2px  0px 1px #000000,
         0px  2px 1px #000000,
        -2px  0px 1px #000000,
         0px -2px 1px #000000;        /* 文字の影 */
}